.eventMargin{
    padding-left: 10px;
    padding-right: 10px;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: inherit;
    min-height: 600px;
    align-items: center;
    font-weight: 600;
    background: aliceblue;
    box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.1);
    border: 1px solid #cccccc;
    width: 700px;

}

.eventDesc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: inherit;
    align-items: center;
    width: 600px;
}

.flexColumn  p{
    padding-right: 10px;
}

.eventWrap{
    align-items: center;
    display: flex;
    flex-direction: column;
}