<section class="landing wrap">
    <div class="listDiv" th:if="${ticketList}">
        <a th:href="@{/ticket/create}"><i class="fas fa-plus-circle"></i>Hozzáadás</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Megnevezés</th>
                <th scope="col">Esemény neve</th>
                <th scope="col">Érvényesség</th>
                <th scope="col">Ár</th>
                <th scope="col">Státusz</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${ticketList}">
                <td th:text="${ticket.name}"></td>
                <td th:text="${ticket.eventEntry.name}"></td>
                <td th:text="${#temporals.format(ticket.validity, 'yyyy.MM.dd. HH:mm')}"></td>
                <td th:text="${ticket.price} + ' Ft'"></td>
                <td th:text="${ticket.status.value()}"></td>
                <td class="listActions"><a th:href="@{/ticket/?id={id}(id=${ticket.id})}"><i class="fas fa-info"></i></a></td>
                <td class="listActions"><a th:href="${ticket.imageUrl}"><i class="fas fa-search"></i></a></td>
                <td class="listActions"><a th:if="${ticket.status == T(com.ticket.xchange.common.enums.TicketStatus).SALE}" th:href="@{/ticket/edit?id={id}(id=${ticket.id})}"><i class="fas fa-edit"></i></a></td>
                <td class="listActions"><a th:if="${ticket.status == T(com.ticket.xchange.common.enums.TicketStatus).SALE}" th:attr="onclick=|showTicketModal('${ticket.id}')|" href="#confirmModal"><i class="fas fa-trash operationDelete"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="listDiv" th:unless="${ticketList}">
        <a th:href="@{/ticket/create}"><i class="fas fa-plus-circle"></i>Hozzáadás</a>
        <p>Nem található jegy.</p>
    </div>

    <div id="confirmModal" class="modalDialog">
        <div>
            <h2>Törlés megerősítése</h2>
            <p>Biztosan el szeretné távolítani a kiválasztott jegyet?</p>
            <a id="modalUrl" href="" class="btn remove">Törlés</a>
            <a href="#close" class="btn">Mégse</a>
        </div>
    </div>
</section>