<section class="landing wrap">
    <div class="basic-form form-w-450 form-p-25">
        <form action="#" th:action="@{/ticket/create}" th:object="${createTicketEntry}" method="post">
            <h2 class="text-center">Jegy létrehozás</h2>
            <div class="form-error" th:if="${createUnsuccess}">Hiba történt a művelet során!</div>

            <div class="form-group">
                <select required="required" class="custom-select" th:field="*{eventId}">
                    <option value="" selected>Esemény megnevezése</option>
                    <option th:each="event : ${eventList}" th:value="${event.id}" th:text="${event.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Jegy megnevezése" required="required" th:field="*{name}">
            </div>
            <div class="form-group">
                <input type="number" min="0" class="form-control" placeholder="Jegy ára (Ft)" required="required" value="0" th:field="*{price}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Érvényesség (ÉÉÉÉ.HH.NN. ÓÓ.PP)" required="required" th:field="*{validity}"
                 pattern="^\d{4}(\.)(((0)[0-9])|((1)[0-2]))(\.)([0-2][0-9]|(3)[0-1])(\. )(([01][0-9])|(2[0-3])):[0-5][0-9]$">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Jegyről készült kép (URL)" required="required" th:field="*{imageUrl}">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Leírás" required="required" th:field="*{description}"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Létrehozás</button>
            </div>
        </form>
    </div>
</section>