<section class="landing wrap">
    <div th:if="${ticketEntry}">
        <table>
            <tr>
                <th>Azonosító</th>
                <td th:text="${ticketEntry.id}"></td>
            </tr>
            <tr>
                <th>Jegy megnevezése</th>
                <td th:text="${ticketEntry.name}"></td>
            </tr>
            <tr>
                <th>Eladó</th>
                <td th:text="${ticketEntry.userEntry.lastName} + ' ' + ${ticketEntry.userEntry.firstName}"></td>
            </tr>
            <tr>
                <th>Esemény neve</th>
                <td th:text="${ticketEntry.eventEntry.name}"></td>
            </tr>
            <tr>
                <th>Ár</th>
                <td th:text="${ticketEntry.price} + ' Ft'"></td>
            </tr>
            <tr>
                <th>Dátum</th>
                <td th:text="${#temporals.format(ticketEntry.validity, 'yyyy.MM.dd. HH:mm')}"></td>
            </tr>
            <tr>
                <th>Leírás</th>
                <td th:text="${ticketEntry.description}"></td>
            </tr>
            <tr>
                <th>Státusz</th>
                <td th:text="${ticketEntry.status.value()}"></td>
            </tr>
        </table>
    </div>
    <div th:unless="${ticketEntry}">
        <p>A jegy nem található!</p>
    </div>

</section>