<section class="landing wrap">
    <div class="basic-form form-w-450 form-p-25">
        <form action="#" th:action="@{/ticket/edit}" th:object="${modifyTicketEntry}" method="post">
            <h2 class="text-center">Jegy módosítása</h2>
            <div class="form-error" th:if="${modifyUnsuccess}">Hiba történt a művelet során!</div>

            <div style="display:none;" class="form-group">
                <input type="text" class="form-control" placeholder="Azonosító" required="required" th:value="${ticketEntry.id}" id="id" name="id">
            </div>

            <div class="form-group">
                <select required="required" class="custom-select" th:value="${ticketEntry.eventEntry.id}" name="eventId" id="eventId">
                    <option value="">Esemény megnevezése</option>
                    <option th:each="event : ${eventList}" th:value="${event.id}" th:text="${event.name}" th:selected="(${event.id} == ${ticketEntry.eventEntry.id})"></option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Jegy megnevezése" required="required" th:value="${ticketEntry.name}" id="name" name="name">
            </div>
            <div class="form-group">
                <input type="number" min="0" class="form-control" placeholder="Jegy ára (Ft)" required="required" value="0" th:value="${ticketEntry.price}" id="price" name="price">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Dátum (ÉÉÉÉ.HH.NN. ÓÓ.PP)" required="required" th:value="${#temporals.format(ticketEntry.validity, 'yyyy.MM.dd. HH:mm')}" id="validity" name="validity"
                       pattern="^\d{4}(\.)(((0)[0-9])|((1)[0-2]))(\.)([0-2][0-9]|(3)[0-1])(\. )(([01][0-9])|(2[0-3])):[0-5][0-9]$">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Jegyről készült kép (URL)" required="required" th:value="${ticketEntry.imageUrl}" id="imageUrl" name="imageUrl">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Leírás" required="required" th:value="${ticketEntry.description}" th:text="${ticketEntry.description}" id="description" name="description"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Módosítás</button>
            </div>
        </form>
    </div>
</section>