.profileWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;

}



.flexRow{
    display: flex;
    flex-direction: row;
    align-content: center;

}

.profileInside{
    display: flex;
    flex-direction: row;
    justify-content: stretch;

}

/*
.profileWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
 */

.profileLink{
    display: block;
    color: #007bff !important;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px;
    background-color: #007bff1f;
    width: 180px;
}

.editInside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    box-shadow: 0px 0px 7px 2px rgba(17,145,214,1);
    align-items: center;
    width: 300px;
}

.editRow{
    display: flex;
    flex-direction: row;
    justify-content: inherit;
}

.editForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 300px;

}

.editName{
    margin: 0;
    padding: 0;
}

input{
    border: 0;
    padding: 0;
    box-shadow: 0px 0px 1px 1px #007bff;
}