body{
    background: transparent;
    position: relative;
    height: auto;
    min-height: 100% !important;
}

html{
    background-image: linear-gradient(to left, snow, deepskyblue);
    height: 100%;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.page-error {
    margin: 50px auto 0 auto;
    width: 50%;
    text-align: center;
    padding: 60px;
    background-color: #fff;
}

.infoDump{
    display: flex;
    flex-direction: column;
    height: 200px;
    font-size: 12px;
    align-items: center;
    line-height: 1;
}

.bigbluebutton{
    display: block;
    color: #007bff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px;
    background-color: #007bff1f;
    width: 180px;
}


.loginmid{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

footer {
    display: none !important;
}