<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:pages="http://www.thymeleaf.org/pagesdialect">
<head>
    <title>Ticket X-Change</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/content/landing.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/content/footer.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/content/navbar.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/content/event/event.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/content/profile/profile.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/content/ticket/ticket.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/content/list.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/content/modal.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/content/dropdown.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/content/form.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/base.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal.js}"></script>
</head>
<body>
    <header th:replace="${navbar}"/>
    <main th:replace="${page}"/>
    <footer th:replace="${footer}"/>
</body>
</html>
