<header th:fragment="navBar">
    <div class="navigation">
        <div class="header-div">
            <img th:src="@{/images/header.jpg}" alt="Header image, festival" class="header-img">
        </div>

        <ul>
            <li><a th:href="@{/landingPage}"><i class="fas fa-home"></i>Főoldal</a></li>
            <li><a th:href="@{/event/list}"><i class="fas fa-calendar-check"></i>Események</a></li>
            <li><a th:href="@{/ticket/list}"><i class="fas fa-ticket-alt"></i>Jegyek</a></li>
            <li><a th:href="@{/profile}" th:if="${dashboardEntry}" class="usernav"><i class="fas fa-user-alt "></i><p th:text="${dashboardEntry.name}"></p></a></li>
            <li><a th:href="@{/wallet}" th:if="${dashboardEntry}" class="balance"><i class="fas fa-wallet"></i><p th:text="${dashboardEntry.balance} + ' Ft'"></p></a></li>
            <li><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>Kijelentkezés</a></li>
        </ul>

        <div class="adminPanel">
            <div class="dropdown">
                <a class="additional" th:if="${isOrganizer} or ${isAdmin}"><i class="fas fa-tasks"></i>Szervező</a>
                <div class="dropdown-content">
                    <a th:if="${isOrganizer} or ${isAdmin}" th:href="@{/event/create}">Esemény létrehozás</a>
                </div>
            </div>

            <div class="dropdown">
                <a th:if="${isAdmin}"><i class="fas fa-wrench"></i>Adminisztrálás</a>
                <div class="dropdown-content">
                    <a th:if="${isAdmin}" th:href="@{/admin/user/list}">Felhasználók</a>
                    <a th:if="${isAdmin}" th:href="@{/admin/transaction/list}">Tranzakciók</a>
                </div>
            </div>

        </div>

    </div>
</header>
