.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #007bff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content > a:hover {
    background-color: #007bff05;
}

.dropdown > a:hover {
    background-color: #ffffff60;
}