footer{


    box-shadow: 0px 2px 11px 0px rgba(18,66,186,0.68);
    color: #007bff;
    position: absolute;
    background: white;
    height: 50px;
    width: 100%;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    bottom: 0px;
}

footer p:first-of-type{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;

}