.basic-form {
    width: 340px;
    margin: 50px auto;
}
.basic-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.basic-form h2 {
    margin: 0 0 15px;
}
.basic-form form textarea {
    resize: vertical;
    max-height: 100px;
}

.form-w-450 {
    width: 450px;
}
.form-p-25 {
    margin: 25px auto;
}

.form-error {
    color: firebrick;
    text-align: center;
    margin: 5px 0px;
}

.form-success {
    color: green;
    text-align: center;
    margin: 5px 0px;
}

