



.landing-wrap{
    display: flex;
    box-shadow: #1b1e21;
}

.row-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

.LandingRow{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 75%;
    align-self: center;
    margin: 10px;
    height: 300px;
    align-items: center;
    justify-content: center;

}

.landingTitle{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

.landingSeparate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    align-self: center;
    color: #007bff;
    font-weight: 900;
    font-size: larger;
    overflow: hidden;
    color: rgb(247, 247, 248);
    background: inherit;


}

.landingSeparate image{
    height: auto;
    width: 150px;
}

.sportsStock{
    height: 350px;
    align-self: center;
    margin-right: 50px;
}

.concertStock{
    height: 350px;
    align-self: center;
    margin-right: 50px;
}

.RowTitle{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 10px;
}

.listTableDiv {
    margin-top: 10px;
}

table {
    margin: auto;
}

th, td {
    padding: 5px;
}

.landingSepWrap{
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(17, 35, 57), rgb(0, 0, 0), rgb(17, 35, 57));

}


.sportsStock{
    opacity: 0;
}

.imagein{
    opacity: 1;
    transition: opacity 2500ms;
}