.listDiv {
    margin: 30px auto 150px auto;
    width: 80%;
    background-color: white;
    -webkit-box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.1);
    border: 1px solid #cccccc;
}

.listDiv p {
    text-align: center;
    margin-top: 15px;
}

.listDiv .listActions {
    width: 40px;
}

.listDiv table td:last-child {
    padding-right: 30px;
}

.listDiv i .operationDelete {
    color: firebrick;
}

.listDiv > .left {
    float: left;
    margin: 4px;
}

.listDiv > a {
    display: block;
    color: #007bff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: #007bff1f;
    width: 180px;
    margin: 4px calc(100% - 184px) 4px;
}

.listDiv > a:hover {
    background-color: #007bff05 !important;
}

.listDiv > a > i {
    padding-right: 10px;
}