.header-div {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to left, snow, deepskyblue);
}

.header-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.navigation {

}

.navigation ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 52px;
}

.navigation li {
    float: left;
}

.navigation i {
    margin-right: 10px;
}

.navigation li a,
.navigation .dropdown a {
    display: block;
    color: #007bff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px;
    background-color: #007bff1f;
    width: 180px;
}

.navigation li a:hover {
    background-color: #007bff05;
}

.navigation ul li:last-child {
    float: right;
    margin-right: 4px;
}

.navigation ul li:first-child {
    margin-left: 4px;
}

.fa-user-alt:before {
    line-height: 1.5;
}

.balance{
    display: flex !important;
    flex-direction: row;
    color: #007bff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 4px;
    background-color: #007bff1f;
    width: 180px;
    height: 44px;
    line-height: 1.5;
    justify-content: center;
}

.fa-wallet:before {
    line-height: 1.5;
}

.usernav{
    display: flex  !important;
    justify-content: center;
    height: 44px;
    line-height: 1.5;
}

.adminPanel{
    display: flex;
    flex-direction: row;
    color: #007bff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    margin: 4px;
    line-height: 1.5;
    justify-content: center;


}