<section class="landing wrap  eventWrap"  style="min-height: 1000px">
    <div th:if="${eventEntry}">
        <div class="flexColumn">

            <div  class="flexRow">
                <p class="eventMargin">Azonosító: </p>
                 <p th:text="${eventEntry.id}"></p>
            </div>
            <div class="flexRow">
                <p class="eventMargin">Esemény neve: </p>
                <p th:text="${eventEntry.name}">
            </div>
            <div class="flexRow">
                <p class="eventMargin">Szervező: </p>
                <p th:text="${eventEntry.userEntry.lastName} + ' ' + ${eventEntry.userEntry.firstName}"></p>
            </div>
            <div class="flexRow">
                <p class="eventMargin">Dátum: </p>
                <p th:text="${#temporals.format(eventEntry.date, 'yyyy.MM.dd. HH:mm')}"></p>
            </div>
            <div class="flexRow">
                <p class="eventMargin">Helyszín: </p>
                <a href="http://maps.google.com/?q=${eventEntry.city}" th:text="${eventEntry.city}"></a>
            </div>
            <div class="eventDesc">
                <p>Leírás</p>
                <p th:text="${eventEntry.description}"></p>
            </div>
                <a  class="bigbluebutton" th:href="@{/ticket/list?eventId={id}(id=${eventEntry.id})}"   style="text-decoration: none">Jegyek</a>
        </div>
    </div>
    <div th:unless="${eventEntry}">
        <p>Az esemény nem található!</p>
    </div>

</section>