
<style>
    body {height: 1080px;}
    html {height: auto;}
</style>
<section class="landing wrap">
    <div class="basic-form form-w-450 form-p-25">
        <form action="#" th:action="@{/event/create}" th:object="${createEventEntry}" method="post">
            <h2 class="text-center">Esemény létrehozás</h2>
            <div class="form-error" th:if="${createUnsuccess}">Hiba történt a művelet során!</div>
            <div class="form-error" th:if="${duplicateError}">Már van ilyen néven esemény!</div>
            <div class="form-error" th:if="${wrongLocation}">A megadott helyszín nem megfelelő!</div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Esemény megnevezése" required="required" th:field="*{name}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Dátum (ÉÉÉÉ.HH.NN. ÓÓ.PP)" required="required" th:field="*{date}"
                 pattern="^\d{4}(\.)(((0)[0-9])|((1)[0-2]))(\.)([0-2][0-9]|(3)[0-1])(\. )(([01][0-9])|(2[0-3])):[0-5][0-9]$">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Esemény helye (város)" required="required" th:field="*{city}">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Leírás" required="required" th:field="*{description}"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Létrehozás</button>
            </div>
        </form>
    </div>
</section>

