<section class="landing wrap">
    <div class="form-error" th:if="${removeUnsuccess}">Törlés közben hiba történt.</div>
    <div class="form-success" th:if="${createSuccess}">Sikeres esemény létrehozás.</div>
    <div class="form-success" th:if="${modifySuccess}">Sikeres esemény módosítás.</div>
    <div class="listDiv" th:if="${eventList}">
        <a class="left" th:href="@{/event/list?nearby=true}"><i class="fas fa-map-marker-alt"></i>Közeli</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Esemény neve</th>
                    <th scope="col">Szervező</th>
                    <th scope="col">Dátum</th>
                    <th scope="col">Helyszín</th>
                    <th scope="col">Távolság</th>
                    <th scope="col">Leírás</th>
                    <th scope="col"></th>
                    <th th:if="${hasPermission}" scope="col"></th>
                    <th th:if="${hasPermission}" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="event : ${eventList}">
                    <td th:text="${event.name}"></td>
                    <td th:text="${event.userEntry.lastName} + ' ' + ${event.userEntry.firstName}"></td>
                    <td th:text="${#temporals.format(event.date, 'yyyy.MM.dd. HH:mm')}"></td>
                    <td th:text="${event.city}"></td>
                    <td th:text="${event.distance} + ' km'"></td>
                    <td class="eventDescription" th:text="${event.description}"></td>
                    <td class="listActions"><a th:href="@{/event/?id={id}(id=${event.id})}"><i class="fas fa-info"></i></a></td>
                    <td th:if="${hasPermission}" class="listActions"><a th:href="@{/event/edit?id={id}(id=${event.id})}"><i class="fas fa-edit"></i></a></td>
                    <td th:if="${hasPermission}" class="listActions"><a th:attr="onclick=|showEventModal('${event.id}')|" href="#confirmModal"><i class="fas fa-trash operationDelete"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="listDiv" th:unless="${eventList}">
        <p>Nem található esemény.</p>
    </div>

    <div id="confirmModal" class="modalDialog">
        <div>
            <h2>Törlés megerősítése</h2>
            <p>Biztosan el szeretné távolítani a kiválasztott eseményt?</p>
            <a id="modalUrl" href="" class="btn remove">Törlés</a>
            <a href="#close" class="btn">Mégse</a>
        </div>
    </div>
</section>