<section class="landing wrap">
    <div class="basic-form form-w-450 form-p-25">
        <form action="#" th:action="@{/event/edit}" th:object="${modifyEventEntry}" method="post">
            <h2 class="text-center">Esemény módosítása</h2>
            <div class="form-error" th:if="${modifyUnsuccess}">Hiba történt a művelet során!</div>
            <div class="form-error" th:if="${wrongLocation}">A megadott helyszín nem megfelelő!</div>

            <div style="display:none;" class="form-group">
                <input type="text" class="form-control" placeholder="Azonosító" required="required" th:value="${eventEntry.id}" id="id" name="id">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Esemény megnevezése" required="required" th:value="${eventEntry.name}" id="name" name="name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Dátum (ÉÉÉÉ.HH.NN. ÓÓ.PP)" required="required" th:value="${#temporals.format(eventEntry.date, 'yyyy.MM.dd. HH:mm')}" id="date" name="date"
                 pattern="^\d{4}(\.)(((0)[0-9])|((1)[0-2]))(\.)([0-2][0-9]|(3)[0-1])(\. )(([01][0-9])|(2[0-3])):[0-5][0-9]$">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Esemény helye (város)" required="required" th:value="${eventEntry.city}" id="city" name="city">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Leírás" required="required" th:value="${eventEntry.description}" th:text="${eventEntry.description}" id="description" name="description"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Módosítás</button>
            </div>
        </form>
    </div>
</section>