
<title> adatok szerkesztése. </title>
<div class="profileWrap">
    <div class="form-error" th:if="${modifyWalletUnsuccess}">Hiba történt az adatok módosítása közben.</div>
    <form action="#" th:action="@{/wallet/edit}" th:object="${modifyWalletEntry}" method="post" class="editForm" id="editForm">
        <div class="flexRow editRow">
            <p  class="editName">Kártyaszám </p> <input type="text" placeholder="Kártyaszám" th:value="${walletEntry.cardNumber}" id="cardNumber" name="cardNumber"
                                                            pattern="/^(?:(4[0-9]{12}(?:[0-9]{3})?)|(5[1-5][0-9]{14})|(6(?:011|5[0-9]{2})[0-9]{12})|(3[47][0-9]{13})|(3(?:0[0-5]|[68][0-9])[0-9]{11})|((?:2131|1800|35[0-9]{3})[0-9]{11}))$/">
        </div>
        <div class="flexRow  editRow">
            <p class="editName">Lejárati dátum </p> <input  type="text" placeholder="ÉÉÉÉ/HH" th:value="${walletEntry.expirationDate}" id="expirationDate" name="expirationDate"
                                                            pattern="/^(0[1-9]|1[0-2])\/?([0-9]{4}|[0-9]{2})$/">
        </div>
        <div class="flexRow  editRow">
            <p  class="editName">Biztonsági kód </p> <input type="password" maxlength="3" placeholder="Biztonsági kód" th:value="${walletEntry.securityCode}" id="securityCode" name="securityCode">
        </div>

        <div class="flexRow  editRow ">
            <a href="javascript:{}" class="profileLink" onclick="document.getElementById('editForm').submit();">Mentés</a>
            <a th:href="@{/wallet}" class="profileLink">Vissza</a>
        </div>
    </form>

</div>