<div class="profileWrap">

    <div class="form-success" th:if="${modifySuccess}">Adatok módosítása sikeresen megtörtént</div>
    <div class="form-success" th:if="${depositSuccess}">Pénzfeltöltés sikeresen megtörtént</div>
    <div class="form-error" th:if="${depositUnsuccess}">Pénzfeltöltés sikertelen</div>
    <div class="flexRow">
        <p th:text="'Egyenleg: ' + ${walletEntry.balance} + ' Ft'"></p>
    </div>
    <div class="flexRow">
        <p th:if="${walletEntry.cardNumber}" th:text="'Kártyaszám: ' + ${walletEntry.cardNumber}"></p>
        <p th:unless="${walletEntry.cardNumber}">Kártyaszám: -</p>
    </div>
    <div class="flexRow">
        <a th:href="@{/wallet/edit}" class="profileLink">Módosítás</a>
        <a th:href="@{/wallet/deposit}" class="profileLink">Feltöltés</a>
    </div>
</div>