<section class="landing wrap">
    <div class="listDiv" th:if="${transactionList}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tranzakció</th>
                <th scope="col">Érintett felhasználó</th>
                <th scope="col">Dátum</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactionList}">
                <td th:text="${transaction.type.value()}"></td>
                <td th:text="${transaction.buyerEntry.lastName} + ' ' + ${transaction.buyerEntry.firstName}"></td>
                <td th:text="${#temporals.format(transaction.date, 'yyyy.MM.dd. HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="listDiv" th:unless="${transactionList}">
        <p>Nem található tranzakció.</p>
    </div>
</section>