<style>
    html{height: 110%;}

</style>

<div class="page-error">
    <h1>Hiba történt az oldal betöltése során.</h1>
    <p>
        A megtekinteni kívánt oldal nem elérhető, vagy nincs joga a megtekintéshez.
        Visszatérés a <a th:href="@{/login}">Bejelentkezés</a> oldalra.
    </p>
</div>

