
<title>Személyes adatok szerkesztése. </title>
<div class="profileWrap">
    <div class="form-error" th:if="${wrongPassword}">A beírt jelszó nem megfelelő!</div>
    <div class="form-error" th:if="${modifyProfileUnsuccess}">Hiba történt az adatok módosítása közben.</div>
    <form action="#" th:action="@{/profile/edit}" th:object="${modifyProfileEntry}" method="post" class="editForm" id="editForm">
        <div class="flexRow editRow">
            <p  class="editName"> Vezetéknév </p>  <input type="text" placeholder="Vezetéknév" required="required" th:value="${userEntry.lastName}" id="lastName" name="lastName">
        </div>
        <div class="flexRow  editRow">
            <p class="editName">Keresztnév  </p>  <input  type="text" placeholder="Keresztnév" required="required" th:value="${userEntry.firstName}" id="firstName" name="firstName">
        </div>
        <div class="flexRow  editRow" >
            <p  class="editName">Lakhely  </p>  <input type="text" placeholder="Város" required="required" th:value="${userEntry.city}" id="city" name="city">
        </div>
        <div class="flexRow  editRow" >
            <p  class="editName">Értesítések  </p>  <input type="checkbox" required="required" th:checked="${userEntry.notifications}" id="notifications" name="notifications">
        </div>
        <div class="flexRow  editRow">
            <p  class="editName"> Megerősítő jelszó  </p> <input type="password" placeholder="Jelszó" required="required" id="password" name="password">
        </div>

        <div class="flexRow  editRow ">
            <a href="javascript:{}"   class="profileLink" onclick="document.getElementById('editForm').submit();">Mentés</a>
            <a th:href="@{/profile}" class="profileLink">Vissza</a>
        </div>
    </form>

</div>