<div class="profileWrap">

    <div class="form-success" th:if="${registrationSuccess}">Adatok módosítása sikeresen megtörtént</div>
    <div class="flexRow">
        <p th:text="'Vezetéknév: ' + ${userEntry.lastName}"></p>
    </div>
    <div class="flexRow">
        <p th:text="'Keresztnév: ' + ${userEntry.firstName}"></p>
    </div>
    <div class="flexRow">
        <p th:text="'Lakhely: ' + ${userEntry.city}"></p>
    </div>
    <div class="flexRow">
        <p th:text="'E-Mail: ' + ${userEntry.email}"></p>
    </div>

    <div th:if="${lat} and ${lon}">
        <div class="flexRow" th:text="'Lat: ' + ${lat}"></div>
        <div class="flexRow" th:text="'Lon: ' + ${lon}"></div>
    </div>
    <div th:unless="${lat} and ${lon}">
        A helyadatok nem kérhetőek le!
    </div>
<div class="flexRow">
    <a th:href="@{/profile/edit}" class="profileLink">Módosítás</a>
    <a th:href="@{/ticket/my}" class="profileLink">Jegyeim</a>
</div>
</div>