<section class="landing wrap">
    <div class="form-success" th:if="${createSuccess}">Sikeres felhasználó létrehozás.</div>
    <div class="form-success" th:if="${modifySuccess}">Sikeres felhasználó módosítás.</div>
    <div class="listDiv" th:if="${userList}">
        <a th:href="@{/admin/user/create}"><i class="fas fa-plus-circle"></i>Hozzáadás</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Vezetéknév</th>
                    <th scope="col">Keresztnév</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Típus</th>
                    <th scope="col">Állapot</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.status.value()}"></td>
                    <td th:text="${user.type.value()}"></td>
                    <td class="listActions"><a th:href="@{/admin/user/edit?id={id}(id=${user.id})}"><i class="fas fa-edit"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="listDiv" th:unless="${userList}">
        <a th:href="@{/admin/user/create}"><i class="fas fa-plus-circle"></i>Hozzáadás</a>
        <p>Nem található esemény.</p>
    </div>
</section>