<section class="landing wrap">
    <div class="basic-form form-w-450 form-p-25">
        <form action="#" th:action="@{/admin/user/edit}" th:object="${modifyUserEntry}" method="post">
            <h2 class="text-center">Felhasználó módosítása</h2>
            <div class="form-error" th:if="${modifyUnsuccess}">Hiba történt a művelet során!</div>
            <div class="form-error" th:if="${sameUser}">A saját felhasználódat nem módosíthatod.</div>
            <div class="form-error" th:if="${wrongLocation}">A megadott helyszín nem megfelelő!</div>

            <div style="display:none;" class="form-group">
                <input type="text" class="form-control" placeholder="Azonosító" required="required" th:value="${userEntry.id}" id="id" name="id">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Vezetéknév" required="required" th:value="${userEntry.lastName}" id="lastName" name="lastName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Keresztnév" required="required" th:value="${userEntry.firstName}" id="firstName" name="firstName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Város" required="required" th:value="${userEntry.city}" id="city" name="city">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="E-Mail cím" required="required" th:value="${userEntry.email}" id="email" name="email">
            </div>
            <div class="form-group">
                <select required="required" class="custom-select" th:value="${userEntry.type}" name="type" id="type">
                    <option value="">Felhasználó típus</option>
                    <option th:each="type : ${T(com.ticket.xchange.common.enums.UserType).values()}"
                            th:value="${type}" th:text="${type.value()}" th:selected="(${type} == ${userEntry.type})"></option>
                </select>
            </div>
            <div class="form-group">
                <select required="required" class="custom-select" th:value="${userEntry.type}" name="status" id="status">
                    <option value="">Felhasználó státusz</option>
                    <option th:each="status : ${T(com.ticket.xchange.common.enums.UserStatus).values()}"
                            th:value="${status}" th:text="${status.value()}" th:selected="(${status} == ${userEntry.status})"></option>
                </select>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" th:checked="${userEntry.notifications}" id="notifications" name="notifications">
                <label class="form-check-label" for="notifications">Értesítések</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Módosítás</button>
            </div>
        </form>
    </div>
</section>