<div class="basic-form">
    <form action="#" th:action="@{/forgottenPassword}" th:object="${forgottenPasswordEntry}" method="post">
        <h2 class="text-center">Elfelejtett jelszó</h2>
        <div class="form-error" th:if="${forgottenPasswordUnsuccess}">Jelszóemlékeztető E-mail küldése közben hiba történt!</div>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="E-Mail cím" required="required" th:field="*{email}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Új jelszó igénylése</button>
        </div>
    </form>
    <p class="text-center"><a th:href="@{/login}">Bejelentkezés</a></p>
</div>