<style>
    footer{
        display: flex;
        bottom: auto;
        justify-content: center;
    }
    html{
        height: auto;
    }
</style>

<p class="landingTitle">Welcome to TicketXChange</p>

<div class="row-wrap  landingSepWrap">

    <div class="landingSeparate">
        <div class="LandingRow">
            <p class="RowTitle">Sport events</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat."
            </p>
        </div>
        <img th:src="@{images/boysCropped.png}" alt="Football players" class="sportsStock"  id="sportsPhoto">
    </div>
    <div class="landingSeparate">
        <div class="LandingRow">
            <p class="RowTitle">Concerts</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat."
            </p>
        </div>
        <img th:src="@{images/qontiCropped.png}" alt="Football player" class="sportsStock"  id="concertPhoto">
    </div>
    <div class="landingSeparate">

        <div class="LandingRow">
            <p class="RowTitle">Xchange your ticket</p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat."
            </p>
        </div>
        <img th:src="@{images/sbticketCropped.png}" alt="Football player" class="sportsStock"  id="ticketPhoto">
    </div>

</div>


<script>

    opening();

    function opening() {
        console.log("function start");
     document.getElementById("sportsPhoto").classList.add("imagein");
        document.getElementById("concertPhoto").classList.add("imagein");
        document.getElementById("ticketPhoto").classList.add("imagein");

    return 0;
    }

    console.log("end");
</script>
