<style>
    html{height: 110%;}

</style>

<div class="basic-form">
    <form action="#" th:action="@{/login}" th:object="${loginEntry}" method="post">
        <h2 class="text-center">Bejelentkezés</h2>
        <div class="form-error" th:if="${wrongCredentials}">Helytelen felhasználónév vagy jelszó!</div>
        <div class="form-error" th:if="${notActivated}">A regisztráció még nincs megerősítve.</div>
        <div class="form-error" th:if="${invalidToken}">A megadott token lejárt vagy nem létezik.</div>
        <div class="form-error" th:if="${userDeactivated}">A felhasználói fiók inaktíválva.</div>
        <div class="form-success" th:if="${registrationSuccess}">Sikeres regisztráció! A megadott E-mail címre megerősítő levelet küldtünk!</div>
        <div class="form-success" th:if="${activationSuccess}">Sikeres megerősítés! Jelentkezz be.</div>
        <div class="form-success" th:if="${forgottenPasswordSuccess}">Jelszóemlékeztető E-mail sikeresen kiküldve.</div>
        <div class="form-success" th:if="${newPasswordSuccess}">Jelszó sikeresen megváltoztatva.</div>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="E-Mail cím" required="required" th:field="*{email}">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Jelszó" required="required" th:field="*{password}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Bejelentkezés</button>
        </div>
        <div class="loginmid">
            <div class="clearfix">
                <a th:href="@{/forgottenPassword}" class="pull-right">Elfelejtett jelszó</a>
            </div>
            <p class="text-center"><a th:href="@{/registration}">Regisztráció</a></p>
        </div>
    </form>

</div>