<div class="basic-form">
    <form action="#" th:action="@{/newPassword}" th:object="${forgottenPasswordEntry}" method="post">
        <h2 class="text-center">Új jelszó létrehozás</h2>
        <div class="form-error" th:if="${wrongPassword}">Az jelszó nem megfelelő!</div>
        <div class="form-error" th:if="${passwordMismatch}">A két jelszó nem egyezik!</div>
        <div class="form-error" th:if="${newPasswordUnsuccess}">Hiba történt a művelet során!</div>

        <div style="display:none;">
            <input type="text" class="form-control" required="required" th:value="*{token}" th:field="*{token}">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Jelszó" required="required" th:field="*{password}">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Jelszó megerősítése" required="required" th:field="*{passwordConfirm}">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Megváltoztatás</button>
        </div>
    </form>
    <p class="text-center"><a th:href="@{/login}">Bejelentkezés</a></p>
</div>