<div class="basic-form">
    <form action="#" th:action="@{/registration}" th:object="${registrationEntry}" method="post">
        <h2 class="text-center">Regisztráció</h2>
        <div class="form-error" th:if="${usedEmail}">A beír E-mail használatban van!</div>
        <div class="form-error" th:if="${wrongPassword}">Az jelszó nem megfelelő!</div>
        <div class="form-error" th:if="${passwordMismatch}">A két jelszó nem egyezik!</div>
        <div class="form-error" th:if="${registrationUnsuccess}">Hiba történt a művelet során!</div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Vezetéknév" required="required" th:field="*{lastName}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Keresztnév" required="required" th:field="*{firstName}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Város" required="required" th:field="*{city}">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="E-Mail cím" required="required" th:field="*{email}">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Jelszó" required="required" th:field="*{password}">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Jelszó megerősítése" required="required" th:field="*{passwordConfirm}">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Regisztráció</button>
        </div>
    </form>
    <p class="text-center"><a th:href="@{/login}">Bejelentkezés</a></p>
</div>